body{
	display: none;
	background: #000;
}
.background{
	text-align: center;
	/* height: 591px; */
}

.selfpic{
	background: #000;
	color: #00FFFF;
}
.selfpic img{
	position: relative;
	top: -20px;
	/* width: 100px;
	height: 100px; */
}
.selfpic ul{
	list-style: none;
	margin-right: 50px;
}
.selfpic li{
	display: inline;
	margin-right: 15px;
	margin-left: 20px;
}
i{
	color: #006464;
}
i:hover,i:focus,i:checked{
	color:#FF7400;
	text-decoration: none;
}
.selfpic a{
	color:white;
}
.selfpic a:hover,a:checked,a:focus{
	color:#70FFFF;
	text-decoration: none;
}

.navigation{
	background: gray;
	font-size: 20px;
	color: #00FFFF;
}
.navigation ul{
	padding-left: 0;
	list-style: none;
	text-align: center;
	/* margin-right: 20px; */
	padding-top: 10px;
}
.navigation li{
	display: inline;
	margin-right: 5px;
}
.navigation a{
	color: #FF7400;
}
.navigation a:hover,a:checked,a:focus{
	color: #00FFFF;
	text-decoration: none;
}

.about{
	background:black;
	color: #70FFFF;
	padding-bottom: 10px;
	text-align: center;
}
.about a{
	border: 5px solid #A74C00;
	color: white;
	background: #A74C00;
}

#projects{
	background: #000;
	color: white;
	text-align: center;
}
.projects{
	background: #000;
	color: white;
	text-align: center;
}
.projects a{
	border-radius: 5px;
	border: 5px solid #A74C00;
	background: #A74C00;
	color: turquoise;
}

.contacts{
	background: gray;
	margin-top: 39px;
	margin-bottom: 10px;
}
.contacts ul{
	padding-left: 0px;
}
.contacts li{
	display: inline;
}
.contacts a{
	color: #70FFFF;
	margin-right: 12px;
}

.social{
	background: #000;
	color: red;
	
}
.social ul{
	text-align: center;
}
.social li{
	text-align: center;
	display: inline;
	margin-right: 50px;
}
.social a{
	text-align: center;
	color: turquoise;
}

@media (min-width:769px){
	.background-pic{
		height: 300px;
	}
	.background{
		height: 384px;
	}
	.nav{
		height: 304px;
	}
	.navigation ul{
		margin-top: 248px;
	}
	.projects{
		text-align: center;
	}
}

@media (min-width:1200px){
	body{
		text-align: justify;
	}
	.background{
		text-align: center;
		overflow: hidden;
		height: 700px;
	}
	.background-pic{
		height: 368px;
	}
	.background-pic img{
		width: 100%;
	}
	.selfpic{
		font-size: 30px;
		position: relative;
		/* left: 80px; */
		top: -150px;
		background-color: transparent;
	}
	.self img{
		position: relative;
		top: -30px;
		overflow: hidden;
	}
	.self{
		border: 3px solid white;
	}
	.navigation ul{
		margin-top: -5px;
	}
	.navigation li{
		font-size: 20px;
		margin-right: 30px;
		color: white;
	}
	.nav{
		height: 40px;
	}
	a{
		color: white;
	}
	.contacts{
		margin-top: 39px;
		margin-bottom: 10px;
	}
	.contacts a{
		color: white;
	}
	.about{
		text-align: justify;
	}
	.social a{
		color: white;
	}
	#projects{
		text-align: justify;
	}
	.projects{
		text-align: justify;
	}
}