@media(min-width:320px){
    body{
        background: #424242;
        color: white;
    }

    #contact{
        text-align: left;
        position: relative;
        top: -94px;
        color: white;
    }

    #contact:hover{
        color: red;
    }

    #aboutME{
        border: solid 3px #424242;
    }
    .jumbotron{
        background: #424242;
        text-align: center;
    }

    #funFact{
        font-size: 14px;
    }

    #pointer1{
        position: absolute;
        left: 125px;
        font-size: 50px;
        color: white;
        animation: pointydown 5s;
        animation-iteration-count: infinite;
    }

    @keyframes pointydown{
        0% {margin-top: 0px;}
        10% {margin-top: 20px;}
        20% {margin-top: 0px;}
        30% {margin-top: 20px;}
        40% {margin-top: 0px;}
        50% {margin-top: 20px;}
        60% {margin-top: 0px;}
        70% {margin-top: 20px;}
        80% {margin-top: 0px;}
        90% {margin-top: 20px;}
        100% {margin-top: 0px;}
    }
    
    #firstLang{
        margin-top: 10%;
    }
    #secondLang{
        margin-top: 10%;
    }
    #thirdLang{
        margin-top: 20%;
    }
    #fourthLang{
        margin-top: 25%;
    }
    #fifthLang{
        margin-top: 20%;
    }

    #react{
        width: 50%;
        position: relative;
        left: 60px;
    }
    #node{
        width: 50%;
        position: relative;
        left: 60px;
    }
    #java{
        width: 40%;
        position: relative;
        left: 77px;
    }
    #htmlcss{
        width: 50%;
        position: relative;
        left: 60px;
    }
    #python{
        width: 45%;
        position: relative;
        left: 60px;
    }

    #tiers, #tiers2, #tiers3, #tiers4, #tiers5{
        padding-left: 0px;
    }

    #tiers>li, #tiers, #tiers2>li, #tiers2, #tiers3>li, #tiers3, #tiers4>li, #tiers4, #tiers5, #tiers5>li{
        display: inline;
        margin-right: 10px;
        text-align: left;
    }

    #progress{
        width: 28%;
        height: 20px;
        animation: move 2s;
        animation-fill-mode: forwards;
    }

    #progress2{
        width: 28%;
        height: 20px;
        animation: move 2s;
        animation-fill-mode: forwards;
    }

    #progress3{
        width: 28%;
        height: 20px;
        animation: movetwo 2s;
        animation-fill-mode: forwards;
    }

    #progress4{
        width: 28%;
        height: 20px;
        animation: movethree 2s;
        animation-fill-mode: forwards;
    }

    #progress5{
        width: 28%;
        height: 20px;
        animation: movefourth 2s;
        animation-fill-mode: forwards;
    }

    @keyframes move{
        0% {width: 0%;
        background-color: white;
        }
        100% {width: 17%;
        background-color: green;
        }
    }
        @keyframes movetwo{
        0% {width: 0%;
        background-color: orange;
        }
        100% {width: 17%;
        background-color: orange;
        }
    }
        @keyframes movethree{
        0% {width: 0%;
        background-color: orange;
        }
        100% {width: 17%;
        background-color: blue;
        }
    }
        @keyframes movefourth{
        0% {width: 0%;
        background-color: blue;
        }
        100% {width: 17%;
        background-color: gold;
        }
    }

    #firstLang, #secondLang, #thirdLang, #fourthLang, #fifthLang{
        display: none;
    }

    #rentalProject,#textSouls,#bankProject,#storeProject,#startUp,#wireFrame,#guiProject{
        display: none;
    }
    #goback,#goback2,#goback3{
        float: right;
        color: white;
    }
    #codeviewer{
        color: white;
        background: #000;
        border: solid black 3px;
    }

    #contacts{
        text-align: center;
        display: none;
    }

    #contactHeader{
        border-bottom: 4px solid white ridge;
        border-bottom-style: ridge;
        border-left: 4px solid white ridge;
        border-left-style: ridge;
        border-right: 4px solid white ridge;
        border-right-style: ridge;
    }

    #mail, #cellphone, #house, #githubIcon, #linkedinIcon{
        font-size: 50px;
    }

    #resume{
        font-size: 40px;
    }

    #email, #number, #address, #github, #linkedin, #resume{
        display: none;
        color: white;
    }

    #email>a, #github>a, #linkedin>a{
        color: white;
    }

    #goback5, #goback6{
        color:black;
    }
}

@media(min-width: 375px){
    #contact{
        text-align: left;
        position: relative;
        top: -114px;
        color: white;
    }

    #contact:hover{
        color: red;
    }

    #funFact{
        font-size: 20px;
    }

    #pointer1{
        position: absolute;
        left: 160px;
        font-size: 50px;
        color: white;
        animation: pointydown 5s;
        animation-iteration-count: infinite;
    }

    #firstLang{
        margin-top: 15%;
    }
    #secondLang{
        margin-top: 15%;
    }
    #thirdLang{
        margin-top: 20%;
    }
    #fouthLang{
        margin-top: 25%;
    }
    #fifthLang{
        margin-top: 20%;
    }

    #tiers>li, #tiers, #tiers2>li, #tiers2, #tiers3>li, #tiers3, #tiers4>li, #tiers4, #tiers5, #tiers5>li{
        display: inline;
        margin-right: 18px;
        text-align: left;
    }

    #tiers5{
        padding-left: 0px;
    }

    #goback5{
        color:black;
    }

    #react{
        width: 50%;
        position: relative;
        left: 89px;
    }
    #node{
        width: 50%;
        position: relative;
        left: 89px;
    }
    #java{
        width: 40%;
        position: relative;
        left: 107px;
    }
    #htmlcss{
        width: 57%;
        position: relative;
        left: 64px;
    }
    #python{
        width: 42%;
        position: relative;
        left: 87px;
    }
}

@media(min-width: 425px){
    #contact{
        text-align: left;
        position: relative;
        top: -128px;
        color: white;
    }

    #contact:hover{
        color: red;
    }


    #firstLang{
        margin-top: 20%;
    }
    #secondLang{
        margin-top: 20%;
    }
    #thirdLang{
        margin-top: 20%;
    }
    #fourthLang{
        margin-top: 25%;
    }
    #fifthLang{
        margin-top: 20%;
    }

    #funFact{
        font-size: 25px;
    }

    #pointer1{
        position: absolute;
        left: 190px;
        font-size: 50px;
        color: white;
        animation: pointydown 5s;
        animation-iteration-count: infinite;
    }

    #react{
        width: 50%;
        position: relative;
        left: 105px;
    }
    #node{
        width: 50%;
        position: relative;
        left: 105px;
    }
    #java{
        width: 40%;
        position: relative;
        left: 126px;
    }
    #htmlcss{
        width: 57%;
        position: relative;
        left: 90px;
    }
    #python{
        width: 42%;
        position: relative;
        left: 97px;
    }

    #tiers>li, #tiers, #tiers2>li, #tiers2, #tiers3>li, #tiers3, #tiers4>li, #tiers4,#tiers5, #tiers>li{
        display: inline;
        margin-right: 38px;
        text-align: left;
    }

    #progress{
        width: 28%;
        height: 20px;
        animation: move 2s;
        animation-fill-mode: forwards;
    }

    #progress2{
        width: 28%;
        height: 20px;
        animation: move 2s;
        animation-fill-mode: forwards;
    }

    #progress3{
        width: 28%;
        height: 20px;
        animation: movetwo 2s;
        animation-fill-mode: forwards;
    }

    #progress4{
        width: 28%;
        height: 20px;
        animation: movethree 2s;
        animation-fill-mode: forwards;
    }

    #progress5{
        width: 28%;
        height: 20px;
        animation: movefourth 2s;
        animation-fill-mode: forwards;
    }

    @keyframes move{
        0% {width: 0%;
        background-color: white;
        }
        100% {width: 13%;
        background-color: green;
        }
    }
        @keyframes movetwo{
        0% {width: 0%;
        background-color: orange;
        }
        100% {width: 13%;
        background-color: orange;
        }
    }
        @keyframes movethree{
        0% {width: 0%;
        background-color: orange;
        }
        100% {width: 13%;
        background-color: blue;
        }
    }
        @keyframes movefourth{
        0% {width: 0%;
        background-color: blue;
        }
        100% {width: 13%;
        background-color: gold;
        }
    }
}

@media(min-width: 768px){

    #aboutME{
        margin-left: 25px;
    }

    #contact{
        text-align: left;
        position: relative;
        top: -226px;
        color: white;
        left: 80px;
        font-size: 28px;
    }

    #contact:hover{
        color: red;
    }

    #pointer1{
        position: absolute;
        left: 345px;
        font-size: 50px;
        color: white;
        animation: pointydown 5s;
        animation-iteration-count: infinite;
    }

    #react{
        width: 30%;
        position: relative;
        left: 261px;
    }
    #node{
        width: 30%;
        position: relative;
        left: 261px;
    }
    #java{
        width: 30%;
        position: relative;
        left: 261px;
    }
    #htmlcss{
        width: 37%;
        position: relative;
        left: 230px;
    }
    #python{
        width: 22%;
        position: relative;
        left: 261px;
    }

    #tiers>li, #tiers, #tiers2>li, #tiers2, #tiers3>li, #tiers3, #tiers4>li, #tiers4, #tiers5, #tiers5>li{
        display: inline;
        margin-right: 67px;
        text-align: left;
        font-size: 17px;
        margin-left: 18px;
    }

    #progress{
        margin-left: 36px;
        width: 28%;
        height: 20px;
        animation: move 2s;
        animation-fill-mode: forwards;
    }
    #progress2{
        margin-left: 36px;
        width: 28%;
        height: 20px;
        animation: move 2s;
        animation-fill-mode: forwards;
    }

    #progress3{
        margin-left: 36px;
        width: 28%;
        height: 20px;
        animation: movetwo 2s;
        animation-fill-mode: forwards;
    }

    #progress4{
        margin-left: 36px;
        width: 28%;
        height: 20px;
        animation: movethree 2s;
        animation-fill-mode: forwards;
    }

    #progress5{
        margin-left: 36px;
        width: 28%;
        height: 20px;
        animation: movefourth 2s;
        animation-fill-mode: forwards;
    }

    @keyframes move{
        0% {width: 0%;
        background-color: white;
        }
        100% {width: 9%;
        background-color: green;
        }
    }
        @keyframes movetwo{
        0% {width: 0%;
        background-color: orange;
        }
        100% {width: 9%;
        background-color: orange;
        }
    }
        @keyframes movethree{
        0% {width: 0%;
        background-color: orange;
        }
        100% {width: 18%;
        background-color: blue;
        }
    }
        @keyframes movefourth{
        0% {width: 0%;
        background-color: blue;
        }
        100% {width: 9%;
        background-color: gold;
        }
    }
}

@media(min-width: 1024px){

    #contact{
        text-align: left;
        position: relative;
        top: -319px;
        color: white;
        left: 80px;
        font-size: 28px;
    }

    #contact:hover{
        color: red;
    }


    #pointer1{
        position: absolute;
        left: 456px;
        font-size: 50px;
        color: white;
        animation: pointydown 5s;
        animation-iteration-count: infinite;
    }

    #react{
        width: 30%;
        position: relative;
        left: 324px;
    }
    #node{
        width: 30%;
        position: relative;
        left: 324px;
    }
    #java{
        width: 30%;
        position: relative;
        left: 324px;
    }
    #htmlcss{
        width: 37%;
        position: relative;
        left: 270px;
    }
    #python{
        width: 22%;
        position: relative;
        left: 324px;
    }

    #tiers>li, #tiers, #tiers2>li, #tiers2, #tiers3>li, #tiers3, #tiers4>li, #tiers4, #tiers5, #tiers5>li{
        display: inline;
        margin-right: 90px;
        text-align: justify;
        font-size: 19px;
        margin-left: 32px;
    }

    #progress{
        margin-left: 60px;
        width: 28%;
        height: 20px;
        animation: move 2s;
        animation-fill-mode: forwards;
    }
    #progress2{
        margin-left: 60px;
        width: 28%;
        height: 20px;
        animation: move 2s;
        animation-fill-mode: forwards;
    }
    #progress3{
        margin-left: 60px;
        width: 28%;
        height: 20px;
        animation: movetwo 2s;
        animation-fill-mode: forwards;
    }

    #progress4{
        margin-left: 60px;
        width: 28%;
        height: 20px;
        animation: movethree 2s;
        animation-fill-mode: forwards;
    }

    #progress5{
        margin-left: 60px;
        width: 28%;
        height: 20px;
        animation: movefourth 2s;
        animation-fill-mode: forwards;
    }

    @keyframes move{
        0% {width: 0%;
        background-color: white;
        }
        100% {width: 9%;
        background-color: green;
        }
    }
        @keyframes movetwo{
        0% {width: 0%;
        background-color: orange;
        }
        100% {width: 9%;
        background-color: orange;
        }
    }
        @keyframes movethree{
        0% {width: 0%;
        background-color: orange;
        }
        100% {width: 18%;
        background-color: blue;
        }
    }
        @keyframes movefourth{
        0% {width: 0%;
        background-color: blue;
        }
        100% {width: 9%;
        background-color: gold;
        }
    }
}

@media(min-width: 1440px){
    #contact{
        text-align: left;
        position: relative;
        top: -418px;
        color: white;
        left: 80px;
        font-size: 28px;
    }

    #contact{
        color: red;
    }

    #pointer1{
        position: absolute;
        left: 547px;
        font-size: 50px;
        color: white;
        animation: pointydown 5s;
        animation-iteration-count: infinite;
    }

    #react{
        width: 30%;
        position: relative;
        left: 386px;
    }
    #node{
        width: 30%;
        position: relative;
        left: 386px;
    }
    #java{
        width: 30%;
        position: relative;
        left: 386px;
    }
    #htmlcss{
        width: 37%;
        position: relative;
        left: 318px;
    }
    #python{
        width: 22%;
        position: relative;
        left: 386px;
    }

    #tiers>li, #tiers, #tiers2>li, #tiers2, #tiers3>li, #tiers3, #tiers4>li, #tiers4, #tiers5, #tiers5>li{
        display: inline;
        margin-right: 94px;
        text-align: left;
        font-size: 29px;
        margin-left: 30px;
    }

    #tier5>ul{
        padding: 0;
    }

    #progress{
        margin-left: 58px;
        width: 28%;
        height: 20px;
        animation: move 2s;
        animation-fill-mode: forwards;
    }

    #progress2{
        margin-left: 58px;
        width: 28%;
        height: 20px;
        animation: move 2s;
        animation-fill-mode: forwards;
    }

    #progress3{
        margin-left: 58px;
        width: 28%;
        height: 20px;
        animation: movetwo 2s;
        animation-fill-mode: forwards;
    }

    #progress4{
        margin-left: 58px;
        width: 28%;
        height: 20px;
        animation: movethree 2s;
        animation-fill-mode: forwards;
    }

    #progress5{
        margin-left: 58px;
        width: 28%;
        height: 20px;
        animation: movefourth 2s;
        animation-fill-mode: forwards;
    }

    @keyframes move{
        0% {width: 0%;
        background-color: white;
        }
        100% {width: 9%;
        background-color: green;
        }
    }
        @keyframes movetwo{
        0% {width: 0%;
        background-color: orange;
        }
        100% {width: 9%;
        background-color: orange;
        }
    }
        @keyframes movethree{
        0% {width: 0%;
        background-color: orange;
        }
        100% {width: 18%;
        background-color: blue;
        }
    }
        @keyframes movefourth{
        0% {width: 0%;
        background-color: blue;
        }
        100% {width: 9%;
        background-color: gold;
        }
    }
}

/* fixes python words and progress bar */
@media(min-width: 1920px){
    #contact{
        text-align: left;
        position: relative;
        top: -548px;
        color: white;
        left: 80px;
        font-size: 28px;
    }

    #contact:hover{
        color: red;
    }


    #aboutME{
        font-size: 30px;
    }

    #tier5{
        padding: 0;
    }

    #progress5{
        margin-left: 58px;
    }
}

/* fixes profile pic in 4K */
@media(min-width: 2560px){
    #contact:hover{
        color: red;
    }
}